In [6]:
import helperfunctions as hf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
section1 = hf.getSection1()
section2 = hf.getSection2()
section3 = hf.getSection3()

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  68.95278329052113 %
Section 1 Loaded
Memory saved by :  71.87492706070144 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  61.412981625109396 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  68.57983376450875 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  62.499990525363394 %
Section 2 Loaded

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:134: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  60.29361918216489 %
Memory saved by :  74.99992933437443 %

d:\OneDrive - Universit√© Mohammed VI Polytechnique\.S1\CSCI-LBD111 Data Visualization\Project\helperfunctions.py:186: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  section3 = pd.merge(previous_credits,credit_bureau_balance,on="sk_id_bureau",how="left")

Section 3 Loaded

In [3]:
section1_2 = pd.merge(section1, section2, on='sk_id_curr', how='left')
print("Section 1 and 2 merged")

Section 1 and 2 merged

In [4]:
full = pd.merge(section1_2, section3, on='sk_id_curr', how='left')
print("Section 1, 2 and 3 merged")

Section 1, 2 and 3 merged

In [5]:
full

,sk_id_curr,target,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,region_population_relative,days_birth,days_employed,...,months_balance_min,months_balance_max,status_0_last,status_1_last,status_2_last,status_3_last,status_4_last,status_5_last,status_C_last,status_X_last
0,100002,True,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,False,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,False,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,False,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,False,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,False,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,False,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,False,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307509,456254,True,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,...,-36.0,0.0,True,False,False,False,False,False,False,False
307510,456255,False,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,...,-12.0,0.0,False,False,False,False,False,False,False,True

In [ ]:
original_column_names = ["name_type_suite", "name_income_type", "name_education_type", "name_family_status", "code_gender", "name_contract_type", "flag_own_car", "flag_own_realty"]

In [ ]:
# Assuming df is your DataFrame and original_column_names is a list of the original column names
original_columns = {}
for original_column in original_column_names:
    # Filter the DataFrame's columns to get the dummy columns for the original column
    dummy_columns = [column for column in full.columns if column.startswith(original_column + '_')]

    # Add the original column name and the list of dummy columns to the dictionary
    original_columns[original_column] = dummy_columns

In [ ]:
# Assuming df is your DataFrame, 'target' is your target column, and original_columns is a dictionary where
# the keys are the names of the original columns and the values are lists of the names of the dummy columns
for original_column, dummy_columns in original_columns.items():
    # Combine the dummy columns into a single Series
    combined = full[dummy_columns].idxmax(axis=1)

    # Group by the combined Series and the target column, and calculate the size of each group
    group_sizes = full.groupby([combined, 'target']).size()

    # Normalize the group sizes to get the percentage of each group
    group_percentages = group_sizes.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

    # Plot the percentages in a bar plot
    group_percentages.unstack().plot(kind='bar', stacked=True)

    plt.ylabel('Percentage')
    plt.title(f'Percentage of target 1 and target 0 in each category of {original_column}')
    plt.show()